<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="zT4I5RGHuU2IyB3D4dEsFST0lOL0xdZefBw40Kyb">

    <title>彰化市 | 青年夢想方舟-職業探索向下扎根</title>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootbox.min.js"></script>
    <!-- icons -->
    <link rel="stylesheet" href="css/fontawesome/fontawesome-all.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="body-bg1">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Header -->
    <header>
        <div class="container navbar-custom pb-1">
            <nav class="navbar navbar-expand-lg">
                <div>
                    <a class="navbar-brand" href="index.html">
                        <img src="images/Logo.png" width="295" height="54" class="d-inline-block align-top rounded" alt="青年夢想方舟-職業探索向下扎根">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-list-ul text-white"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav feature-box ml-auto">
                        <li class="feature-box-kikyo">
                            <a href="#" onclick="history.back()">
                                <div class="feature-box-icon"><i class="fas fa-school"></i></div>國中小申請帳號
                            </a>
                        </li>
                        <li class="feature-box-pink">
                            <a href="#" onclick="history.back()">
                                <div class="feature-box-icon"><i class="fas fa-address-card"></i></div>廠商申請帳號
                            </a>
                        </li>
                        <li class="line">｜</li>
                        <li><button type="button" class="mr-1 btn btn-outline btn-round btn-kikyo"><i class="fas fa-school"></i>
                                國中小登入</button></li>
                        <li><button type="button" class="mr-1 btn btn-round btn-kikyo"><i class="fas fa-sign-in-alt"></i>
                                本機登入</button></li>
                        <li><button type="button" class="mr-1 btn btn-round btn-light"><i class="fas fa-user"></i>
                                後台管理</button></li>

                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- Main -->
    <main>
        <div class="container main-wrap">
            <div class="row">

                <div class="col-md-12">
                    <div class="row">
                        <div class="inner-map innermap-bg simple">
                            <div class="col-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">首頁</a></li>
                                        <li class="breadcrumb-item"><a href="#">第一層</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">第二層</li>
                                        <li class="">　　<a href="#" class="badge badge-secondary" onclick="history.back()"><i
                                                    class="fas fa-chevron-circle-left"></i> 返回</a></li>
                                    </ol>
                                </nav>
                                <div class="content-info">
                                    <h2>彰化縣全球連結教育白皮書啟動 提升教育國際觀 </h2>
                                    <small>發布單位： 教育處 ｜ 發布日期： 107/09/12～107/10/12</small>
                                    <p>
                                        彰化縣長魏明谷今天公佈「彰化縣全球連結教育白皮書」，提出3大願景、6大目標、5大策略主軸及12項行動方案計畫，未來希望透過數位情境教室、雙語教學等落實國際化的教育視野。
                                    </p>
                                    <p>「彰化縣全球連結教育白皮書」啟航儀式今天在彰興國中由魏明谷主持啟動，希望未來能培養出具國際觀與競爭力的下一代，與會者包括彰化縣教育處長鄧進權、縣屬高中、國中小校長、英語領域召集人及支援彰化縣國際教育的外籍英語教師。
                                    </p>
                                    <p>魏明谷還接受彰興國中學生邀請，即興與學生上演一段中英文主播訪談秀，學生們先錄製了生動的原住民、外配學生介紹影音，再運用數位行動攝影棚，學生扮起導播和主播訪問縣長的教育理念。
                                    </p>
                                    <p>明年彰化縣第一所雙語學校鹿江國中小即將要招生，魏明谷說，未來也希望每個學校都能推廣雙語教育，希望在108年新課綱正式啟用前，彰化縣已經做好萬全準備，配合國家新南向政策，在未來十年中達成培育20世紀台灣公民應具備國際參與以及跨國競爭的實力，所以必須要有更開放、更多元、更有創造力的教育夥伴，讓彰化縣的學子更自主、自信的擁抱國際舞台。</p>
                                    <p>魏明谷說，最近親子天下雜誌「2018全國各縣市教育力調查」，彰化縣是非六都第1名，名列全國第5名，彰化教育白皮書也提出包括「提升在地文化認同與全球公民意識、培育跨文化理解溝通交流能力、培育社會議題思辨解決應變力…」等六大目標。</p>
                                    <p>12項行動方案則包括彰化縣國際教育全球資訊網 ( CIEN
                                        )計畫、全球連結教育課程與教學模組示例徵選計畫、全球連結英語數位學習資源發展方案、中小學全球連結教育數位學習情境建置計畫、專業知能研習與實務工作坊、教育團隊與教師出國研習與參訪、學校國際化認證與典範楷模獎勵計畫、全球連結教育共學圈計畫、中小學國際學校網界博覽會計畫、多語言與跨文化學習計畫、跨文化體驗交流活動與營隊計畫、中小學校與國際友人或夥伴學校交流計畫。</p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </main>
    <!-- 記得要把按鈕放到網頁上, 否則它不會出現 -->
    <a href="https://www.blogger.com/blogger.g?blogID=2031514508322140995#" id="gotop">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- Footer -->
    <footer class="py-3 ">
        <div class="container">
            <p class="m-0 text-center">Copyright &copy; 青年夢想方舟-職業探索向下扎根</p>
        </div>
        <!-- /.container -->
    </footer>
    <script>
        function bbconfirm_Form(id, title) {
            bootbox.confirm({
                title: '請你確定一下',
                message: title,
                buttons: {
                    confirm: {
                        label: '我很確定',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: '我按錯了',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        document.getElementById(id).submit();
                    }
                    console.log('This was logged in the callback: ' + result);
                }
            });
        }

        function bbconfirm_Link(id, title) {
            link = document.getElementById(id).href;
            document.getElementById(id).href = '#';
            bootbox.confirm({
                title: '請你確定一下',
                message: title,
                buttons: {
                    confirm: {
                        label: '我很確定',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: '我按錯了',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        location.href = link;
                    } else {
                        document.getElementById(id).href = link;
                    }

                    console.log('This was logged in the callback: ' + result);
                }
            });
        }

        function bbconfirm_FileForm(id, title) {
            bootbox.confirm({
                title: '請你確定一下',
                message: title,
                buttons: {
                    confirm: {
                        label: '我很確定',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: '我按錯了',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {

                        var dialog = bootbox.dialog({
                            title: '請稍後，不要亂按！重新整理F5都會造成錯誤！',
                            message: '<p><i class="fa fa-spin fa-spinner"></i> 儲存中...</p>'
                        });

                        document.getElementById(id).submit();

                        dialog.init(function () {
                            setTimeout(function () {
                                dialog.find('.bootbox-body').html('請等待畫面跳轉後，即完成！!');
                            }, 3000);
                        });
                    } else {
                        $("#b_submit").show();
                    }
                    console.log('This was logged in the callback: ' + result);
                }
            });
        }


        function bbalert(word) {
            bootbox.alert(word);
        }
    </script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            /* 按下GoTop按鈕時的事件 */
            $('#gotop').click(function () {
                $('html,body').animate({
                    scrollTop: 0
                }, 'slow'); /* 返回到最頂上 */
                return false;
            });

            /* 偵測卷軸滑動時，往下滑超過100px就讓GoTop按鈕出現 */
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#gotop').fadeIn();
                } else {
                    $('#gotop').fadeOut();
                }
            });
        });
    </script>
</body>

</html>