<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="zT4I5RGHuU2IyB3D4dEsFST0lOL0xdZefBw40Kyb">

    <title>彰化市 | 青年夢想方舟-職業探索向下扎根</title>
    <script src="js/jquery-3.7.1.js"></script>
    <script src="js/bootbox.min.js"></script>
    <!-- icons -->
    <link rel="stylesheet" href="css/fontawesome/fontawesome-all.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="body-bg1">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Header -->
    <header>
        <div class="container navbar-custom pb-1">
            <nav class="navbar navbar-expand-lg">
                <div>
                    <a class="navbar-brand" href="index.html">
                        <img src="images/Logo.png" width="295" height="54" class="d-inline-block align-top rounded" alt="青年夢想方舟-職業探索向下扎根">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-list-ul text-white"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav feature-box ml-auto">
                        <li class="feature-box-kikyo">
                            <a href="#" onclick="history.back()">
                                <div class="feature-box-icon"><i class="fas fa-school"></i></div>國中小申請帳號
                            </a>
                        </li>
                        <li class="feature-box-pink">
                            <a href="#" onclick="history.back()">
                                <div class="feature-box-icon"><i class="fas fa-address-card"></i></div>廠商申請帳號
                            </a>
                        </li>
                        <li class="line">｜</li>
                        <li><button type="button" class="mr-1 btn btn-outline btn-round btn-kikyo"><i class="fas fa-school"></i>
                                國中小登入</button></li>
                        <li><button type="button" class="mr-1 btn btn-round btn-kikyo"><i class="fas fa-sign-in-alt"></i>
                                本機登入</button></li>
                        <li><button type="button" class="mr-1 btn btn-round btn-light"><i class="fas fa-user"></i>
                                後台管理</button></li>

                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- Main -->
    <main>
        <div class="container main-wrap">
            <div class="row">
                <div class="col-md-3 col-xs-12 sidebar side-bg">

                    <div class="list-group mt-lg-3 feature-box">
                        <a href="township.html" class="list-group-item list-group-item-action feature-box-kikyo">
                            <div class="feature-box-icon"><i class="fas fa-map"></i></div>參訪體驗地圖
                        </a>
                        <a href="simple.html" class="list-group-item list-group-item-action feature-box-pink">
                            <div class="feature-box-icon"><i class="fas fa-building"></i></div>企業參訪查詢
                        </a>
                        <a href="https://visit.chc.edu.tw/search/4/place" class="list-group-item list-group-item-action feature-box-grass">
                            <div class="feature-box-icon"><i class="fas fa-school"></i></div>高職科系查詢
                        </a>
                        <a href="https://visit.chc.edu.tw/search/5/place" class="list-group-item list-group-item-action feature-box-gold">
                            <div class="feature-box-icon"><i class="fas fa-male"></i></div>職場達人查詢
                        </a>
                        <a href="https://visit.chc.edu.tw/search/6/place" class="list-group-item list-group-item-action feature-box-teal">
                            <div class="feature-box-icon"><i class="fas fa-align-center"></i></div>職探中心課程查詢
                        </a>
                        <a href="javascript:;" class="list-group-item list-group-item-action feature-box-kikyo">
                            <div class="feature-box-icon"><i class="fas fa-map"></i></div>國中技藝教育
                        </a>
                        <a href="javascript:;" class="list-group-item list-group-item-action feature-box-pink">
                            <div class="feature-box-icon"><i class="fas fa-hand-holding-heart"></i></div>參訪體驗心得
                        </a>
                    </div>

                </div>

                <div class="col-md-9 col-xs-12">
                    <div class="row">
                        <div class="inner-map innermap-bg">
                            <div class="col-12">
                                <h2>彰化市 <small>Changhua City</small></h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="https://visit.chc.edu.tw">首頁</a></li>
                                        <li class="breadcrumb-item"><a href="https://visit.chc.edu.tw">參訪體驗地圖</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">彰化市</li>
                                        <li class="">　　<a href="#" class="badge badge-secondary" onclick="history.back()"><i
                                                    class="fas fa-chevron-circle-left"></i> 返回</a></li>
                                    </ol>
                                </nav>
                                <div class="card">
                                    <div class="card-header custom-title">
                                        行程列表
                                        　　<a href="#" class="badge badge-secondary" onclick="history.back()"><i class="fas fa-chevron-circle-left"></i>
                                            返回</a>
                                    </div>
                                    <div class="card-body">


                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-fluid rounded mb-3 mb-md-0" src="https://visit.chc.edu.tw/images/700x300.png"
                                                    alt="標題圖片">
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h3>農場體驗半日遊</h3>
                                                    </div>
                                                    <div class="col-6">
                                                        <span class="badge badge-primary">歡樂農場
                                                            <span class="badge badge-light">公司企業</span>
                                                        </span>
                                                        <span class="badge badge-info">點閱
                                                            <span class="badge badge-light">4</span>
                                                        </span>
                                                        <span class="badge badge-success">參訪
                                                            <span class="badge badge-light">0</span>
                                                        </span>
                                                    </div>
                                                </div>


                                                <p>
                                                    認識農場植物
                                                    <br>
                                                    <a class="btn btn-primary btn-sm" href="https://visit.chc.edu.tw/search/1/show/township"><i
                                                            class="fas fa-eye"></i> 詳細內容</a>
                                                </p>
                                            </div>
                                        </div>
                                        <!-- /.row -->

                                        <hr>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-fluid rounded mb-3 mb-md-0" src="https://visit.chc.edu.tw/images/700x300.png"
                                                    alt="標題圖片">
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h3>機械科</h3>
                                                    </div>
                                                    <div class="col-6">
                                                        <span class="badge badge-primary">彰化高工
                                                            <span class="badge badge-light">高職學校</span>
                                                        </span>
                                                        <span class="badge badge-info">點閱
                                                            <span class="badge badge-light">7</span>
                                                        </span>
                                                        <span class="badge badge-success">參訪
                                                            <span class="badge badge-light">0</span>
                                                        </span>
                                                    </div>
                                                </div>

                                                <p>
                                                    1
                                                    2
                                                    3
                                                    4
                                                    5
                                                    6
                                                    7
                                                    8
                                                    9
                                                    10
                                                    <br>
                                                    <a class="btn btn-primary btn-sm" href="https://visit.chc.edu.tw/search/2/show/township"><i
                                                            class="fas fa-eye"></i> 詳細內容</a>
                                                </p>
                                            </div>
                                        </div>
                                        <!-- /.row -->

                                        <hr>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-fluid rounded mb-3 mb-md-0" src="https://visit.chc.edu.tw/images/700x300.png"
                                                    alt="標題圖片">
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h3>電子科</h3>
                                                    </div>
                                                    <div class="col-6">
                                                        <span class="badge badge-primary">彰化高工
                                                            <span class="badge badge-light">高職學校</span>
                                                        </span>
                                                        <span class="badge badge-info">點閱
                                                            <span class="badge badge-light">0</span>
                                                        </span>
                                                        <span class="badge badge-success">參訪
                                                            <span class="badge badge-light">0</span>
                                                        </span>
                                                    </div>
                                                </div>


                                                <p>
                                                    1
                                                    2
                                                    3
                                                    4
                                                    5
                                                    6
                                                    7
                                                    <br>
                                                    <a class="btn btn-primary btn-sm" href="https://visit.chc.edu.tw/search/3/show/township"><i
                                                            class="fas fa-eye"></i> 詳細內容</a>
                                                </p>
                                            </div>
                                        </div>
                                        <!-- /.row -->

                                        <hr>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-fluid rounded mb-3 mb-md-0" src="https://visit.chc.edu.tw/images/700x300.png"
                                                    alt="標題圖片">
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h3>化工科</h3>
                                                    </div>
                                                    <div class="col-6">
                                                        <span class="badge badge-primary">彰化高工
                                                            <span class="badge badge-light">高職學校</span>
                                                        </span>
                                                        <span class="badge badge-info">點閱
                                                            <span class="badge badge-light">2</span>
                                                        </span>
                                                        <span class="badge badge-success">參訪
                                                            <span class="badge badge-light">0</span>
                                                        </span>
                                                    </div>
                                                </div>


                                                <p>
                                                    彰化高工化工科01
                                                    彰化高工化工科02
                                                    彰化高工化工科03
                                                    彰化高工化工科04
                                                    彰化高工化工科05
                                                    彰化高工化工科06
                                                    <br>
                                                    <a class="btn btn-primary btn-sm" href="https://visit.chc.edu.tw/search/6/show/township"><i
                                                            class="fas fa-eye"></i> 詳細內容</a>
                                                </p>
                                            </div>
                                        </div>
                                        <!-- /.row -->

                                        <hr>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-fluid rounded mb-3 mb-md-0" src="https://visit.chc.edu.tw/img/courses&amp;8&amp;1223.jpg"
                                                    alt="標題圖片">
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h3>觀樂農場-體驗活動</h3>
                                                    </div>
                                                    <div class="col-6">
                                                        <span class="badge badge-primary">歡樂農場
                                                            <span class="badge badge-light">公司企業</span>
                                                        </span>
                                                        <span class="badge badge-info">點閱
                                                            <span class="badge badge-light">1</span>
                                                        </span>
                                                        <span class="badge badge-success">參訪
                                                            <span class="badge badge-light">0</span>
                                                        </span>
                                                    </div>
                                                </div>


                                                <p>
                                                    農場體驗活動
                                                    <br>
                                                    <a class="btn btn-primary btn-sm" href="https://visit.chc.edu.tw/search/8/show/township"><i
                                                            class="fas fa-eye"></i> 詳細內容</a>
                                                </p>
                                            </div>
                                        </div>
                                        <!-- /.row -->

                                        <hr>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </main>
    <!-- 記得要把按鈕放到網頁上, 否則它不會出現 -->
    <a href="https://www.blogger.com/blogger.g?blogID=2031514508322140995#" id="gotop">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- Footer -->
    <footer class="py-3 ">
        <div class="container">
            <p class="m-0 text-center">Copyright &copy; 青年夢想方舟-職業探索向下扎根</p>
        </div>
        <!-- /.container -->
    </footer>
    <script>
        function bbconfirm_Form(id, title) {
            bootbox.confirm({
                title: '請你確定一下',
                message: title,
                buttons: {
                    confirm: {
                        label: '我很確定',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: '我按錯了',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        document.getElementById(id).submit();
                    }
                    console.log('This was logged in the callback: ' + result);
                }
            });
        }

        function bbconfirm_Link(id, title) {
            link = document.getElementById(id).href;
            document.getElementById(id).href = '#';
            bootbox.confirm({
                title: '請你確定一下',
                message: title,
                buttons: {
                    confirm: {
                        label: '我很確定',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: '我按錯了',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        location.href = link;
                    } else {
                        document.getElementById(id).href = link;
                    }

                    console.log('This was logged in the callback: ' + result);
                }
            });
        }

        function bbconfirm_FileForm(id, title) {
            bootbox.confirm({
                title: '請你確定一下',
                message: title,
                buttons: {
                    confirm: {
                        label: '我很確定',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: '我按錯了',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {

                        var dialog = bootbox.dialog({
                            title: '請稍後，不要亂按！重新整理F5都會造成錯誤！',
                            message: '<p><i class="fa fa-spin fa-spinner"></i> 儲存中...</p>'
                        });

                        document.getElementById(id).submit();

                        dialog.init(function () {
                            setTimeout(function () {
                                dialog.find('.bootbox-body').html('請等待畫面跳轉後，即完成！!');
                            }, 3000);
                        });
                    } else {
                        $("#b_submit").show();
                    }
                    console.log('This was logged in the callback: ' + result);
                }
            });
        }


        function bbalert(word) {
            bootbox.alert(word);
        }
    </script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            /* 按下GoTop按鈕時的事件 */
            $('#gotop').click(function () {
                $('html,body').animate({
                    scrollTop: 0
                }, 'slow'); /* 返回到最頂上 */
                return false;
            });

            /* 偵測卷軸滑動時，往下滑超過100px就讓GoTop按鈕出現 */
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#gotop').fadeIn();
                } else {
                    $('#gotop').fadeOut();
                }
            });
        });
    </script>
</body>

</html>